# Arduino IDE build files
*.ino.bin
*.ino.elf
*.ino.map
/build/

# KiCad backup/temp files
*-cache.lib
*.kicad_prl
*.kicad_pro
*.kicad_sch-bak
*.kicad_pcb-bak
*.net
fp-info-cache

# LTSpice temp files
*.raw
*.log
*.op.raw
*.out

# Operating System files
.DS_Store
desktop.ini
Thumbs.db